.mat-toolbar{
    position: sticky; top: 0; z-index: 23; 

    .mat-icon-button{
        transition: .4s ease;
    }

    .active-link{
       transform: scale(1.5);
    }

    .greeting{
        max-width: 20%; overflow: hidden; text-overflow: ellipsis;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
    
}
